annotated-types==0.5.0
certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.6
graphql-core==3.2.3
greenlet==2.0.2
idna==3.4
pydantic==1.10.11
pydantic-core==2.6.3
requests==2.31.0
sgqlc==16.3
SQLAlchemy==1.4.49
ssaw==0.7
tqdm==4.52.0
typing-extensions==4.7.1
urllib3==2.0.4
